// output:index.html, pretty:false
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="assets/styles/style.min.css")
        title Genetic Text Algorithm
    body
        canvas#board
        h4#fitness
        h5#generation 0
        h5#age 0
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/Vector.js")
    script(src="assets/js/Obstacle.js")
    script(src="assets/js/Target.js")
    script(src="assets/js/Ship.js")
    script(src="assets/js/main.js")
